@charset "utf-8";
/* CSS Document */

[class^="icon-"], [class*=" icon-"] {
    font-family: icomoon, serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

i {
    font-family: icomoon, serif, FontAwesome;
    font-style: normal;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;	 /* удаление верхнего поля позволяет обойти проблему выхода полей за границы содержащего их контейнера DIV. Оставшееся нижнее поле отделит его от любых последующих элементов. */
    padding-right: 15px;
    padding-left: 15px; /* добавление боковых полей к элементам внутри контейнеров DIV, а не к самим контейнерам избавляет от необходимости расчетов рамочной модели. В качестве альтернативы можно использовать вложенный контейнер DIV с боковыми полями. */
}
a img {
    border: none;
}

a{
    color: inherit;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

/* ============= start of positioning ============== */


html {
    display: flex;
}

body {
    width: 1260px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sideBtn{
    overflow: hidden;
}

@media all and (max-width: 1200px) { /* большие настольные */
    body {
        width: 1040px;
        flex: 1 1 auto;
    }
    .sidebar2{
        display: none;
    }
}

@media all and (max-width: 1050px) { /* средние настольные */
    body {
        width: 935px;
        flex: 1 1 auto;
    }
    .sidebar1, .sidebar2{
        display: none;
    }
    /*#sf{width: 90%;}*/
}

@media all and (max-width: 950px) {/* планшеты */
    body {
        width: 750px;
        flex: 1 1 auto;
    }
    .sidebar1, .sidebar2{
        display: none;
    }
    /*#sf{width: 80%;}*/
}

@media all and (max-width: 765px) { /* телефоны */
    body {
        width: 740px;
        flex: 1 0 auto;
    }
    .sidebar1, .sidebar2{
        display: none;
    }
}

nav {
    display: flex;
    justify-content: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.sidebar1, .sidebar2 {
    width: 230px;
    flex: 0 0 auto;
}

.content {
    position: relative;
    width: 1100px;
    flex: 1 1 auto;
}

.add{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* ============= end of positioning ============== */


body {
    margin: 0 auto;
}

header, nav {
    background-color: #8fa6b21f;
}

form button[type=submit], form .resp, form button[type=button]{
    position: relative;
    z-index: 2;
    outline: none;
    font-family: "Segoe UI", FontAwesome, icomoon, serif;
}

.main-menu-board{
    height:7px;
    background-color: #719bd9;
}

body {
    font: 100%/1.3 'Segoe UI', 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
    padding: 0;
    color: #030303;
    background-color: #f1f1f1;
}

footer {
    height: 150px;
    padding: 10px 0;
    border-top: 2px solid #719bd9;
}

.sidebar1 {
    padding: 3px 0 100px 0;
    justify-content: flex-end;
}

.sidebar2 {
    padding: 2px 0;
    justify-content: flex-start;
}

.sdb{
    display: flex;
    box-sizing: border-box;
}

.content {
    background-color:  #f9f9f9;
    color: #444444;
    border-left: 2px solid #719bd9;
    border-right: 2px solid #719bd9;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-wrap: break-word; /* перенесем длинные слова на след. строки */
    word-break: break-all;
}

footer {
    display: flex;
    background-color: #e7e7e7;
}

.logo {
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    text-decoration: none;
    position: relative;
    display: block;
}

.logo p:first-child{
    color: #DC143C; /* crimson */
    text-decoration: none;
    font-size: 2em;
    font-weight: 900;
    font-family: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

.logo:hover p:first-child{
    text-shadow: 0 0 20px crimson;
}

.logo p{
    font-weight: 600; color:#2d4c84; margin-bottom: 0;
}

nav {
    font-size: 0;
}

nav a {
    display:inline-block;
    border-top: 1px solid #719bd9;   /* darkolivegreen  */
    border-left: 1px solid #719bd9;
    box-sizing: border-box;
    text-decoration:none !important;
    padding: 10px 20px;
    font-size:16px;
    background: rgba(0,0,0,.1);
    color: #8e600a;
    cursor: pointer;
    font-weight: 700;
}

nav a:hover {
    background: rgba(0,0,0,.2);
}
nav a:last-child {border-right: 1px solid #719bd9; }
nav .active {color: #2d4c84; background: #719bd9; }

.img{
    margin: 20px auto;
}

.task{
    position: relative;
    margin: 50px auto;
    width: 92%;
}

.myP{
    margin-top: 10px;
    color: grey;
}

.task img{
    margin: 0 auto 20px;
}

.case {
    align-self: center;
    background-color: rgb(255,255,255);
    padding: 20px;
}

.scroll-bar{
    font: 15px/1.0 'Tahoma', 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
    display: flex;
    height: 20px;
    width: 690px;
    position: relative;
    border-radius: 10px;
    background-color: rgb(221, 232, 241);
    box-shadow: inset 0 1px 3px 0 rgba(50, 50, 50, 0.5);
}

.bar{
    background: linear-gradient(0deg, #126dc8, #4d9deb);
    width: 168px;
    height: 25px;
    right: 8px;
    align-self: center;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.6);
}

.bar:before{
    line-height: 1.8em;
    content: '|||';
    font-size: .85em;
    text-shadow: 1px 0 0 rgb(102, 173, 217);
    color: #4e5869;
}

.bar:after{
    position: absolute;
    line-height: 1.9em;
    font-size: .85em;
    font-style: italic;
    content: 'Тяните ползунок вправо \2002 \2192';
    left: 100%;
    color: #8895a0;
    white-space: nowrap;
    margin-left: 10px;
    letter-spacing: 1px;
}

.file_case{
    width: 50%;
}

.file_case label:hover {
    background-color: lightgrey;
}

.file_case input{
    position: absolute;
    flex: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

.file_case label.file_btn {
    cursor: pointer;
    border: dashed 1px rgb(160, 160, 160);
    font-size: 1.6em;
    color: #056ab1;
    padding: 0.25em;
    text-align: center;
    line-height: 0.05;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    white-space: normal;
    margin: 10px auto;
    flex-wrap: wrap;
    word-break: keep-all;
}

.file_case span{
    line-height: 1em;
}

.file_btn .info{
    font-size: .5em;
}

.file_btn .main{
    width: 100%;
    display: block;
    font-size: .7em;
    padding: 10px;
}

.emptyPage{
    text-align: center;
    font-size: 1.2em;
    padding: 20px;
    color: crimson;
}

.ob_new .file_case span span{
    color: #056ab1;
    text-align: center;
    font-size: 1em;
    padding: 0;
    width: auto;
    font-weight: normal;
}

.add .img{
    border: dashed 1px rgb(160, 160, 160);
    color: #056ab1;
}

ul.file{
    list-style-type: none;
}

i.main{
    font-size: 6em;
    color: #056ab1;
    line-height: .9em;
}

.file li{
    position: relative;
    display: flex;
    padding-top: 20px;
}

.file li:hover{
    outline: 1px dotted crimson;

}

.cancelItem{
    font-family: icomoon, serif;
    cursor: pointer;
    position: absolute;
    color: red;
    right: 6px;
    top: 6px;
    z-index: 10;
    font-size: 1.5em;
}

li:hover .cancelItem {
    display: block;
}

.file .progress{
    position: absolute;
    bottom: 8px;
    left: 12px;
    width: 70px;
    /*outline: 1px solid #3c763d;*/
}

.okItem {
    font-family: icomoon, serif;
    position: absolute;
    color: olivedrab;
    right: 20px;
    bottom: 20px;
    font-weight: 900;
    font-size: large;
}

.btn{
    background: url("images/button.png") repeat-x scroll 50% 50% #e6e6e6;
    border: 1px solid #d3d3d3;
    color: #056ab1;
    font-family: Verdana,Arial,sans-serif, icomoon;
    border-radius: 0;
    font-size: 1em;
    padding: 7px 30px;
}

button.btn.focus{
    border: 1px dashed #808080;
}

button.btn:hover {
    background: url("images/button-hover.png") repeat-x scroll 50% 50% #dadada;
    border: 1px solid #056ab1;
}

.txt_case{
    width: 50%;
    /*outline: solid 1px blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.txt_case button{
    margin: 10px auto;
    display: block;
    min-height: 50px;
    width: 175px;
    word-break: keep-all;
}

.txt_case button div{
    font-size: .8em;
}

.add .title{
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    width: 100%;
    color: crimson;
}

.case_Fitem{
    position: relative;
}

.except{
    font-size: .9em;
    color: #056ab1;
    word-break: keep-all;
    border-bottom: solid 1px crimson;
    text-indent: 1.5em;
    padding: 10px;
}

.info{
    width: 100%;
    font-size: .85em;
    color: #4c6592;
}

.fill{
    width: 100%;
}

.pagination{
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.sideBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    position: fixed;
    top: 50%;
    width: 60px;
    height: 130px;
    z-index: 10;
    text-decoration: none;
    font: 2em "Segoe UI", FontAwesome, icomoon, serif;
    color: grey;
}

.sideBtn:hover {
    background: rgba(0,0,0,.1);
    color: crimson;
}


.sideBtn[disabled='disabled']{
    color: lightgrey;
}

.sideBtn[disabled='disabled']:hover{
    color: grey;
}

#lft_btn{
    justify-content: flex-end;
    padding-right: 15px;
}

#rght_btn{
    justify-content: flex-start;
    padding-left: 15px;
}

.obCase{
    padding: 10px;
}

.pgnShowHideBtn{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    border: dashed #7696d5;
    border-width: 0 0 1px 0;
    color: #2d4c84;
}

.pgnShowHideBtn i:before{
    display: inline-flex;
    position: relative;
    content: '\f101';
    font-size: 1.1em;
}

.pgnShowHideBtn[data-visible=show] i:before{
    transform: rotate(-90deg);
    transition: transform .3s ease-in-out;
}

.pgnShowHideBtn[data-visible=hide] i:before{
    transform: rotate(90deg);
    transition: transform .3s ease-in-out;
}

.pgnShowHideBtn:hover{
    background-color: #7696d5;
    color: whitesmoke;
}

.pageItem{
    flex: 0 1 auto;
    width: 10%;
    border: 2px solid #ffffff;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background: rgba(0,0,0,.1);
}

.pageItem.active{
    border: 2px solid #3d47a3;
}

.pageItem:hover{
    background: rgba(0,0,0,.2);
    color: #2F4F4F;
}

.obItem{
    display: flex;
    padding: 10px;
}

.obItem:nth-child(odd){
    background-color: #4c6592;
    color: lightgrey;
}

.date{
    width: 15%;
    padding: 0 5px;
    text-align: center;
}

.obItem .body{
    width: 55%;
    padding: 0 10px;
}

.obItem .date:after, .obItem .contacts:before {
    content: '';
    border-left: solid 1px transparent;
    height: 90%;
}

.obItem .contacts:before{
    left: -2px;
    position: absolute;
}

.obItem:nth-child(odd) .date:after,
.obItem:nth-child(odd) .contacts:before{
    border-color: lightgrey;
}

.obItem:nth-child(even) .date:after,
.obItem:nth-child(even) .contacts:before{
    border-color: #4c6592;
}

.contacts{
    width: 30%;
    padding: 0 10px;
}

.date, .body, .contacts{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    word-break: keep-all;
    position: relative;
}


