<div class="task">
    <h4 class="myP">Образец</h4>
    <img class="img" src="/XBVXF0T.png">
    <h4 class="myP">Результат выполнения</h4>
    <div class="case">
        <div class="scroll-bar">
            <div class="bar"></div>
        </div>
    </div>
</div>
